.add-card {
    border-radius: 25px;
    background-color: rgba(184, 222, 182, 0.577);
    padding: 20px;
    width: 200px;
    height: 300px;
    cursor:pointer;
}
.add-card:hover{
    background-color: rgba(134, 177, 131, 0.577);
}

.add-card-content {
    align-content: center;
    height: 100%;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

i.icon.plus {
    font-size: 5em;
    align-items: center;
    top: 10;
    padding-top: 28px;
    margin: auto;
    opacity: 50%;
    color: rgb(1, 137, 126);


}