.add-form {
    padding: 5%;
}

.header {
    align-content: center;

}
.form-line {
    display: flex;
    flex-direction: row;
    left: 0;
    margin: 20px;

}
.add-name {
    align-content: center;
    height: 100%;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.add-btn {
    background: none;
    margin: auto;

}

