.plant-card {
    border-radius: 25px;
    background-color: #5f8ba7;
    padding: 20px;
    width: 200px;
    height: 300px;
    cursor: pointer;
    outline: .5px solid #95AA29;
    margin: 1%;
}
.plant-card:hover{
    background-color: #71811F
}

.card-content {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #ffffff;
}
.plant-image {
  width: 100%;
  top: 10px;
}