.plant-card {
    border-radius: 25px;
    background-color: #5f8ba7;
    padding: 20px;
    width: 200px;
    height: 300px;
    cursor: pointer;
    outline: .5px solid #95AA29;
    margin: 1%;
    position: relative;
}
.plant-card:hover{
    background-color: #71811F
}
.text-container{
  height: 50%;
  width: 100%;
  position: absolute;
  object-fit: contain;
  top: 21px;
  left: 1px;
}

.card-content {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #ffffff;
  opacity: 1;
  margin: auto;
  mix-blend-mode: lighten;
}
.image-container{
  height: 50%;
  width: 100%;
  position: absolute;
  object-fit: contain;
  top: 130px;
  left: -100px;
}
.plant-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;

}